/*
*
* Spec status plugin
*
* @author Robert Haritonov (http://rhr.me)
* Organised by http://rhr.me/MCSS methodology
*
* */
/* Base
---------------------------------------------------------------------------------- */
/* Controls list
-------------------------------------------------- */
.source_status-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.source_status-list_li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 30px;
  margin: 0 2px;
}
.source_status-list_a .source_status_badge {
  cursor: pointer;
}
/* /Controls list */
/* Small badge
-------------------------------------------------- */
.source_status_badge {
  width: 30px;
  height: 30px;
  background-image: url(../i/development_s.png);
  background-size: cover;
  cursor: help;
  /* Hiding text */
  font: 0/0 a;
  color: transparent;
}
@media only screen and (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
  .source_status_badge {
    background-image: url(../i/development_s@2x.png);
  }
}
.source_status_badge.__exp {
  background-image: url(../i/experiment_s.png);
}
@media only screen and (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
  .source_status_badge.__exp {
    background-image: url(../i/experiment_s@2x.png);
  }
}
.source_status_badge.__rec {
  background-image: url(../i/recommend_s.png);
}
@media only screen and (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
  .source_status_badge.__rec {
    background-image: url(../i/recommend_s@2x.png);
  }
}
.source_status_badge.__ready {
  background-image: url(../i/ready_s.png);
}
@media only screen and (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
  .source_status_badge.__ready {
    background-image: url(../i/ready_s@2x.png);
  }
}
.source_status_badge.__rev {
  background-image: url(../i/review_s.png);
}
@media only screen and (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
  .source_status_badge.__rev {
    background-image: url(../i/review_s@2x.png);
  }
}
.source_status_badge.__deprecated {
  background-image: url(../i/deprecated_s.png);
}
@media only screen and (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
  .source_status_badge.__deprecated {
    background-image: url(../i/deprecated_s@2x.png);
  }
}
/* /Small badge */
/* Big badge
-------------------------------------------------- */
.source_status_badge-big {
  width: 56px;
  height: 56px;
  background-image: url(../i/development.png);
  background-size: cover;
  cursor: help;
  /* Hiding text */
  font: 0/0 a;
  color: transparent;
}
@media only screen and (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
  .source_status_badge-big {
    background-image: url(../i/development@2x.png);
  }
}
.ie8 .source_status_badge-big {
  background-image: url(../i/development_s.png);
}
.source_status_badge-big.__exp {
  background-image: url(../i/experiment.png);
}
@media only screen and (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
  .source_status_badge-big.__exp {
    background-image: url(../i/experiment@2x.png);
  }
}
.ie8 .source_status_badge-big.__exp {
  background-image: url(../i/experiment_s.png);
}
.source_status_badge-big.__rec {
  background-image: url(../i/recommend.png);
}
@media only screen and (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
  .source_status_badge-big.__rec {
    background-image: url(../i/recommend@2x.png);
  }
}
.ie8 .source_status_badge-big.__rec {
  background-image: url(../i/recommend_s.png);
}
.source_status_badge-big.__ready {
  background-image: url(../i/ready.png);
}
@media only screen and (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
  .source_status_badge-big.__ready {
    background-image: url(../i/ready@2x.png);
  }
}
.ie8 .source_status_badge-big.__ready {
  background-image: url(../i/ready_s.png);
}
.source_status_badge-big.__rev {
  background-image: url(../i/review.png);
}
@media only screen and (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
  .source_status_badge-big.__rev {
    background-image: url(../i/review@2x.png);
  }
}
.ie8 .source_status_badge-big.__rev {
  background-image: url(../i/review_s.png);
}
.source_status_badge-big.__deprecated {
  background-image: url(../i/deprecated.png);
}
@media only screen and (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
  .source_status_badge-big.__deprecated {
    background-image: url(../i/deprecated@2x.png);
  }
}
.ie8 .source_status_badge-big.__deprecated {
  background-image: url(../i/deprecated_s.png);
}
/* /Big badge */
/* /Base
---------------------------------------------------------------------------------- */
/* Project
---------------------------------------------------------------------------------- */
/* Spec status
-------------------------------------------------- */
.source_info.status {
  position: relative;
  padding-right: 25px;
}
.source_info .source_status-controls {
  position: relative;
  z-index: 1;
  margin: -4px -10px 0 20px;
  float: right;
}
.source_status-controls {
  width: 56px;
}
.source_status-controls:hover .source_status-controls_change {
  opacity: 1;
  visibility: visible;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
.source_status-controls_change {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  right: 50%;
  top: 100%;
  width: 500px;
  margin-right: -250px;
  text-align: center;
  -webkit-transition: .15s opacity,visibility 0s .15s;
  -moz-transition: .15s opacity,visibility 0s .15s;
  -o-transition: .15s opacity,visibility 0s .15s;
  transition: .15s opacity,visibility 0s .15s;
  line-height: 0;
  font-size: 0;
}
.source_status-controls_change:after {
  position: absolute;
  content: '';
  bottom: -15px;
  left: -15px;
  z-index: -1;
  right: -15px;
  height: 115px;
}
.source_status-controls .source_status-list {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  background: rgba(255, 255, 255, 0.5);
  padding: 2px 1px 3px;
  border-radius: 30px;
  border: solid 1px #67A9D4;
}
@media only screen and (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
  .source_status-controls .source_status-list {
    padding-bottom: 1px;
  }
}
.source_status-controls .source_status_badge-big {
  position: relative;
  z-index: 1;
}
/* /Spec status */
/* Section status
-------------------------------------------------- */
.status-exp,
.status-dev {
  position: relative;
}
.source_section .source_section_h .source_status_badge {
  position: absolute;
  right: 4px;
  top: 3px;
}
.source_section h3 .source_status_badge {
  position: absolute;
  z-index: 1;
  right: 4px;
  top: -3px;
}
/* /Section status */
/* Filters (subhead)
-------------------------------------------------- */
.source_catalog_a {
  padding-right: 45px;
}
.source_catalog_a .source_status_badge {
  position: absolute;
  top: 9px;
  right: 9px;
  display: none;
}
.source_catalog_a:hover .source_status_badge {
  display: block;
}
.source_status_filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.source_status_filter-list_li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 30px;
  margin: 0 2px;
}
.source_status_filter-list_img {
  width: 30px;
  opacity: 0.6;
  transition: .2s;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transform: translateZ(0);
  -o-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
}
.source_status_filter-list_a:hover .source_status_filter-list_img {
  opacity: 1;
}
.source_status_filter-list_a.__active .source_status_filter-list_img {
  opacity: 1;
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -o-filter: grayscale(0);
  -ms-filter: grayscale(0);
  filter: grayscale(0);
}
/* /Filters (subhead) */
/* /Project
---------------------------------------------------------------------------------- */
